USE [master]
GO

/****** Object:  Database [dbRecycle]    Script Date: 10/26/2014 10:27:16 AM ******/
CREATE DATABASE [dbRecycle]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbRecycle', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbRecycle.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbRecycle_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dbRecycle_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbRecycle].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO


--

USE [dbRecycle]
GO
/****** Object:  User [daystar]    Script Date: 10/26/2014 10:30:29 AM ******/
CREATE USER [daystar] FOR LOGIN [daystar] WITH DEFAULT_SCHEMA=[db_owner]
GO
ALTER ROLE [db_owner] ADD MEMBER [daystar]
GO
/****** Object:  Table [dbo].[tblLocationData]    Script Date: 10/26/2014 10:30:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLocationData](
	[locID] [int] IDENTITY(1,1) NOT NULL,
	[locLatitude] [float] NOT NULL,
	[locLongitude] [float] NOT NULL,
	[locFullAddress] [text] NOT NULL,
	[locComment] [ntext] NULL,
	[locFlag] [int] NOT NULL CONSTRAINT [DF_tblLocationData_locFlag]  DEFAULT ((0)),
	[locDateTime] [datetime] NOT NULL CONSTRAINT [DF_tblLocationData_locDateTime]  DEFAULT (getdate()),
 CONSTRAINT [PK_tblLocationData] PRIMARY KEY CLUSTERED 
(
	[locID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
